# using pandas to get familiar to data

Langkah pertama dalam machine learning project adalah membiasakan diri dengan data.
Dalam hal ini kita menggunakan Pandas, pandas adalah tools core dalam data science.
Pandas digunakan untuk eksplorasi dan manipulasi data. Kebanyakan orang menyingkat pandas 
menjadi pd.

In [4]:
import pandas as pd

Bagian terpenting dari perpustakaan Pandas adalah DataFrame. DataFrame menampung jenis data yang mungkin Anda anggap sebagai tabel. Ini mirip dengan lembar di Excel, atau tabel di database SQL.

Panda memiliki metode yang ampuh untuk sebagian besar hal yang ingin Anda lakukan dengan tipe data ini.

Sebagai contoh, kita akan melihat data tentang harga rumah di Melbourne, Australia. Dalam latihan langsung, Anda akan menerapkan proses yang sama ke kumpulan data baru, yang memiliki harga rumah di Iowa.

In [6]:
# simpan file path pada variabel
melborn_file_path = "./melb_data.csv"

# baca data dan masukan data ke data frame yang bernama melborn_data
melborn_data = pd.read_csv(melborn_file_path)

# print kesimpulan dari data dalam melbornd data
melborn_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Interpreting Data Description

Hasil menunjukkan 8 angka untuk setiap kolom dalam kumpulan data asli Anda. Angka pertama, hitungan, menunjukkan berapa banyak baris yang memiliki nilai yang tidak hilang.

Missing value muncul karena berbagai alasan. Misalnya, ukuran kamar tidur ke-2 tidak akan dikumpulkan saat mensurvei rumah dengan 1 kamar tidur. Kami akan kembali ke topik data yang hilang.

Nilai kedua adalah rata-rata, yang merupakan rata-rata. Di bawah itu, std adalah standar deviasi, yang mengukur seberapa tersebar nilai secara numerik.

Untuk menginterpretasikan nilai min, 25%, 50%, 75% dan maks, bayangkan mengurutkan setiap kolom dari nilai terendah hingga tertinggi. Nilai pertama (terkecil) adalah min. Jika Anda menelusuri seperempat daftar, Anda akan menemukan angka yang lebih besar dari 25% nilai dan lebih kecil dari 75% nilai. Itu adalah nilai 25% (diucapkan "persentil ke-25"). Persentil ke-50 dan ke-75 didefinisikan secara analog, dan maks adalah angka terbesar.